@model FurnitureStore.Models.ContactInfo

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h1>Contact Inforamtion</h1>
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-edit"></i>
                                </div>
                                <div class="text">
                                    <a asp-action="Edit" asp-route-id="@Model.Id"><h2>Edit</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Facebook)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Facebook)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Instagram)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Instagram)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Twitter)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Twitter)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Youtube)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Youtube)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Fax)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Fax)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                </dl>
            </div>
            
        </div>
    </div>
</div>